{% extends 'main/index.html.twig' %}


{% block title %} Public | View Executables {% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/exes.css') }}">
{% endblock %}
{% block content %}
    {% for exes in getExes %}
        <div class="text-center border border-gray-700 pt-2 px-6 pb-6 mt-28 flex flex-col items-center">
            <h3 class="text-3xl text-center underline">{{ exes.title | capitalize }}</h3>
            <h4 class="text-2xl text-center">{{ exes.description }}</h4>
            <a href="{{ asset('downloads/multi-install-tool.exe') }}" download><img src="{{ asset('images/NodeIcon.png') }}" alt="{{ exes.description }}" class="h-36 w-36"></a>
            <h6 class="italic text-sm">Click the image to download</h6>
        </div>
{% if exes.id == 1  %}
    <section>
        <h3 class="text-2xl underline mt-8">The Multi-Installer can :</h3>
        <dl class="text-center">
            <dt>Set up a project from a fork (from one of my projects)</dt>
            <dd class="border-1 border-gray-900 border rounded px-8">
                    <span class="font-semibold italic">
                        Once you have created a Fork of one of my projects &lpar;<a href="https://github.com/Leerlandais"
                                                                                    target="_blank"
                                                                                    class="underline text-blue-800">Here</a>&rpar;, and entered the relevant URL, this will perform the following:
                    </span>
                <ol>
                    <li>Clones your forked repository</li>
                    <li>Moves into the project folder and adds the upstream address</li>
                    <li>Runs 'composer install' and 'composer update'</li>
                    <li>Creates a config file to contain the DB constants (Presuming use of simple localhost settings)</li>
                    <li>Exits</li>
                </ol>
            </dd>
            <dt>Set up a React app with Tailwind included</dt>
            <dd class="border-1 border-gray-900 border rounded px-8">
                <span class="font-semibold italic">Provide the project name, &lpar;it will change it to lowercase&rpar;, and then perform the following:</span>
                <ul>
                    <li>Creates the React app - this may take some time</li>
                    <li>Moves into the project folder and installs Tailwind</li>
                    <li>Copies the current CSS file and replaces it with one containing the necessary Tailwind attributes added</li>
                    <li>Creates the tailwind.config file</li>
                    <li>Exits</li>
                </ul>
            </dd>
            <dt>Set up a React app with Bootstrap included</dt>
            <dd class="border-1 border-gray-900 border rounded px-8">
                <span class="font-semibold italic">Provide the project name, &lpar;it will change it to lowercase&rpar;, and then perform the following:</span>
                <ul>
                    <li>Creates the React App - this may take some time</li>
                    <li>Moves into the project folder and installs Bootstrap</li>
                    <li>Copies the current JS file and replaces it with one containing the necessary Bootstrap imports added</li>
                    <li>Exits</li>
                </ul>
            </dd>
            <dt>Create a Node project</dt>
            <dd class="border-1 border-gray-900 border rounded px-8">
                <span class="font-semibold italic">Provide the project name, &lpar;it will change it to lowercase&rpar;, and then perform the following:</span>
                <ul>
                    <li>Creates the Node project using Express (view set to ejs)</li>
                    <li>Moves into the project directory and updates dependencies</li>
                    <li>Adjusts the Debug direction to the project</li>
                    <li>Installs Nodemon</li>
                    <li>Adjusts the package.json to include Nodemon launch command &lpar;'npm run dev'&rpar;</li>
                    <li>Exits</li>
                </ul>
            </dd>
            <dt>Create a Node project with Database</dt>
            <dd class="border-1 border-gray-900 border rounded px-8">
                <span class="font-semibold italic">Provide the project name, &lpar;it will change it to lowercase&rpar;, and then perform the following:</span>
                <ul>
                    <li>Creates the Node project using Express (view set to ejs)</li>
                    <li>Moves into the project directory and updates dependencies</li>
                    <li>Adjusts the Debug direction to the project</li>
                    <li>Installs Nodemon</li>
                    <li>Installs MySql</li>
                    <li>Adjusts the package.json to include Nodemon launch command &lpar;'npm run dev'&rpar;</li>
                    <li>Creates a 'models' directory</li>
                    <li>Adds the 'db.js file'</li>
                    <li>Creates a 'config' directory</li>
                    <li>Adds the 'dbConfig.js' file</li>
                    <li>Exits</li>
                </ul>
            </dd>
            <dt>Create an empty MVC</dt>
            <dd class="border-1 border-gray-900 border rounded px-8">
                <span class=" font-semibold italic">Provide the project name, and then perform the following:</span>
                <ul>
                    <li>Creates empty folders following MVC standards</li>
                    <li>Adds a placeholding readMe file to all folders</li>
                    <li>Creates a root index.php to force redirection to the /public folder</li>
                    <li>Creates a generalised .gitignore &lpar;covers 99% of generally ignored files - make sure that project specific files are included&rpar;</li>
                    <li>Exits</li>
                </ul>
            </dd>
        </dl>
        <h4 class="text-xl mt-4">You can find the source code for this .exe <a href="https://github.com/Leerlandais/source_code/blob/main/Source/multi-installer.js" target="_blank" class="underline text-blue-800">here</a></h4>
    </section>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block javascript %}
{{ parent() }}

<script src="{{ asset('scripts/exesDetailScript.js') }}"></script>
{% endblock %}
