{% extends 'base.html.twig' %}

{% block title %}MainCode index{% endblock %}

{% block body %}
    <h1>MainCode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for main_code in main_codes %}
            <tr>
                <td>{{ main_code.id }}</td>
                <td>{{ main_code.title }}</td>
                <td>{{ main_code.description }}</td>
                <td>{{ main_code.code }}</td>
                <td>{{ main_code.type }}</td>
                <td>
                    <a href="{{ path('app_admin_code_show', {'id': main_code.id}) }}">show</a>
                    <a href="{{ path('app_admin_code_edit', {'id': main_code.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_code_new') }}">Create new</a>
{% endblock %}
