{% extends 'admin/index.html.twig' %}

{% block title %}Executables{% endblock %}

{% block content %}
    <h1 class="mt-36 mb-8 text-5xl">Executable Files</h1>

    <table class="min-w-full bg-white shadow-md rounded-xl my-8">
        <thead>
            <tr class="bg-blue-gray-100 text-gray-700">
                <th class="py-3 px-4 text-center">Id</th>
                <th class="py-3 px-4 text-center">Title</th>
                <th class="py-3 px-4 text-center">Description</th>
                <th class="py-3 px-4 text-center">Update</th>
                <th class="py-3 px-4 text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for exes_code in exes_codes %}
            <tr class="border-b border-blue-gray-200">
                <td class="py-3 px-4">{{ exes_code.id }}</td>
                <td class="py-3 px-4">{{ exes_code.title }}</td>
                <td class="py-3 px-4">{{ exes_code.description }}</td>
                <td class="py-3 px-4">
                    <a href="{{ path('app_admin_exes_edit', {'id': exes_code.id}) }}"
                       class="font-medium text-blue-600 hover:text-[#13A808] hover:underline">Update
                    </a>
                </td>
                <td class="py-3 px-4">
                    <form method="post" action="{{ path('app_admin_exes_delete', {'id': exes_code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exes_code.id) }}">
                        <button class="font-medium text-blue-600 hover:text-[#DA3808] hover:underline">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr class="border-b border-blue-gray-200">
                <td colspan="6">No Executables Available - Yet!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_admin_exes_new') }}">
    <button class="bg-[#4F46E5] w-auto mt-3 p-2 rounded-md text-white font-bold cursor-pointer hover:bg-[#138808]">
        Add an Executable
    </button>
    </a>
{% endblock %}
